/* You can add global styles to this file, and also import other style files */

.even{
    background-color: burlywood;
    color: blue;
}

.odd{
    background-color: lightgrey;
    color: blueviolet;
}